{% extends "base.html" %}

{% block actions %}
<div class="d-grid gap-2">
    <button type="button" onclick="createMailing(event)" class="btn text-nowrap btn-primary">Запустить для всех пользователей</button>
    <div class="d-flex mb-3">
        <input id="chatid-input" class="form-control me-2" type="number" placeholder="Chat id" aria-label="Текст" name="chatId">
        <button type="button" onclick="testMailing(event)" class="btn text-nowrap btn-primary">Отправить себе</button>
    </div>
    <a type="button" class="btn text-nowrap btn-danger" href="index.html">Отмена</a>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-between g-3 align-items-start">
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">Создание рассылки</h4>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Картинка</label>
                    <input onchange="previewFile()" class="form-control" type="file" id="formFile">
                    <img src="" alt="" class="mt-1">
                </div>
                <div class="card-text">
                    <label for="templateText" class="form-label">Текст(До 4096 символов, с картинкой до 1024 символов)</label>
                    <textarea maxlength="4096" class="form-control col-sm-10" id="templateText" rows="10">{{ template.text }}</textarea>
                </div>
            </div>
            <ul class="list-group list-group-flush px-3">
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateGender">Пол</label>
                        <select class="form-select" onchange="recalculateMessagesCount()" id="templateGender">
                            <option
                                {% if (template.gender is none) %} selected="selected" {% endif %}
                                >-</option>
                            <option value="m"
                                {% if (template.gender == "m") %} selected="selected" {% endif %}
                                >Мужской</option>
                            <option value="f"
                                {% if (template.gender == "f") %} selected="selected" {% endif %}
                                >Женский</option>
                        </select>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateGodmode">Хотя бы одна генерация в режиме творца</label>
                        <select class="form-select" onchange="recalculateMessagesCount()" id="templateGodmode">
                            <option
                                {% if (template.god_mode is none) %} selected="selected" {% endif %}
                                >-</option>
                            <option value="0"
                                {% if (template.god_mode == "0") %} selected="selected" {% endif %}
                                >Нет</option>
                            <option value="1"
                                {% if (template.god_mode == "1") %} selected="selected" {% endif %}
                                >Да</option>
                        </select>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateTariff">Оплата</label>
                        <div id="templatetariff">
                            {% for tariff in tariffs %}
                            <div class="form-check">
                                <input class="form-check-input"
                                    onchange="recalculateMessagesCount()"
                                    type="checkbox"
                                    value="{{ tariff.id }}"
                                    id="tariff{{ tariff.id }}"
                                    {{ "checked" if tariff in template.tariffs }}>
                                <label class="form-check-label" for="tariff{{ tariff.id }}"> {{ tariff.title }} </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateWithoutTariff">Нет оплаты</label>
                        <select class="form-select" onchange="recalculateMessagesCount()" id="templateWithoutTariff">
                            <option
                                {% if (template.without_tariff is none) %} selected="selected" {% endif %}
                                >-</option>
                            <option value="1"
                                {% if (template.without_tariff == "1") %} selected="selected" {% endif %}
                                >Да</option>
                        </select>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <div class="form-check">
                            <input class="form-check-input"
                                type="checkbox"
                                value="1"
                                id="mailingPaymentButtonCheckbox"
                                onchange="setCommandInputDisplay(event);">
                            <label class="form-check-label" for="mailingPaymentButtonCheckbox">Добавить кнопку оплаты</label>
                            <input id="mailingPaymentCommand" class="form-control" type="text" style="display: none;" value="/offer1390" />
                        </div>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateCreatedFrom">Дата регистрации от</label>
                        <input id="templateCreatedFrom" onchange="recalculateMessagesCount()" class="form-control" type="date" />
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateCreatedTo">Дата регистрации до</label>
                        <input id="templateCreatedTo" onchange="recalculateMessagesCount()" class="form-control" type="date" />
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateLimit">Максимальное количество пользователей</label>
                        <input id="templateLimit" onchange="recalculateMessagesCount()" class="form-control" type="text" />
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateOffset">Начиная с пользователя, под номером</label>
                        <input id="templateOffset" onchange="recalculateMessagesCount()" class="form-control" type="text" />
                    </div>
                </l1>
                <li class="list-group-item">Будет разослано сообщений: <mark id="messagesCount">{{ messages_count }}</mark></l1>
            </ul>
        </div>

    </div>
</div>

<script>

var imagesFilenames = [];
var videosFilenames = [];

function setCommandInputDisplay(event) {
    const checkbox = event.target;
    const commandInput = document.getElementById("mailingPaymentCommand");

    if (checkbox.checked)
        commandInput.style.display = "block";
    else
        commandInput.style.display = "none";
}

function createMailing(event) {
    const submitButton = event.target;
    const genderInput = document.getElementById("templateGender");
    const godmodeInput = document.getElementById("templateGodmode");
    const withoutTariffInput = document.getElementById("templateWithoutTariff");
    const textInput = document.getElementById("templateText");
    const mailingPaymentButtonInput = document.getElementById("mailingPaymentButtonCheckbox");
    const createdFromInput = document.getElementById("templateCreatedFrom");
    const createdToInput = document.getElementById("templateCreatedTo");
    const limitInput = document.getElementById("templateLimit");
    const offsetInput = document.getElementById("templateOffset");
    const commandInput = document.getElementById("mailingPaymentCommand");

    let tariffs = [];
    for (let i = 1; i <= {{ tariffs|length }}; i++) {
        if (document.querySelector("#tariff" + i).checked)
            tariffs.push(i);
    }
    let gender = genderInput.value === "-" || genderInput.value === "{{ template.gender }}" ? null : genderInput.value;
    let godMode = godmodeInput.value === "-" || godmodeInput.value === "{{ template.god_mode }}" ? null : godmodeInput.value;
    let withoutTariff = withoutTariffInput.value === "-" || withoutTariffInput.value === "{{ template.without_tariff }}" ? null : withoutTariffInput.value;
    let text = textInput.value === "" || textInput.value === "{{ template.text }}" ? null : textInput.value;
    let limit = limitInput === "" ? null : +limitInput.value;
    let offset = offsetInput === "" ? null : +offsetInput.value;
    let templateId = {{ template.id|default(0) }} === 0 ? null : {{ template.id|default(0) }};
    let images = [];
    images = imagesFilenames.length > 0 ? images.concat([imagesFilenames[0]]) : images;
    images = videosFilenames.length > 0 ? images.concat([videosFilenames[0]]) : images;


    let data = {
        tariff_ids: tariffs,
        gender: gender,
        text: text,
        template_id: templateId,
        god_mode: godMode,
        without_tariff: +withoutTariff,
        images: images.length == 0 ? null : images,
        created_from: createdFromInput.value === "" ? null : createdFromInput.value,
        created_to: createdToInput.value === "" ? null : createdToInput.value,
        limit_messages: limit === 0 ? null : limit,
        offset_messages: offset === 0 ? null : offset
    };
    if (mailingPaymentButtonInput.checked)
        data["buttons"] = [{text: "Оплатить", "callback_data": commandInput.value}];
    console.log(data);

    submitButton.innerText = "Отправка...";
    let request = new Request("/api/mailing", {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json',
        },
    });
    fetch(request)
        .then((response) => response.json())
        .then(
            (response) => {
                console.log(response)
                if (response.status != 422)
                    setTimeout(() => window.location.href = "/admin/mailing/" + response.id, 1500);
            }
        )
        .catch((error) => { submitButton.innerText = "Ошибка"; console.error(error) });
}

function testMailing(event) {
    const submitButton = event.target;
    const chatIdInput = document.getElementById("chatid-input");
    const textInput = document.getElementById("templateText");
    const mailingPaymentButtonInput = document.getElementById("mailingPaymentButtonCheckbox");

    let text = textInput.value === "" ? "{{ template.text }}" : textInput.value;
    let data = {
        chat_id: chatIdInput.value,
        text: text,
        image_filename: imagesFilenames.length > 0 ? imagesFilenames[0] : null,
        video_filename: videosFilenames.length > 0 ? videosFilenames[0] : null
    };
    console.log(data);
    if (mailingPaymentButtonInput.checked)
        data["buttons"] = [{text: "Оплатить", "callback_data": "/specialOffer390"}];

    submitButton.innerText = "Отправка...";
    let request = new Request("/api/mailing/test", {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json',
        },
    });
    fetch(request).then(
        (response) => {
            submitButton.innerText = "Отправлено";
            setTimeout(() => submitButton.value = "Отправить себе", 20000);
        }
    ).catch((error) => { submitButton.innerText = "Ошибка"; });
}

function recalculateMessagesCount() {
    const genderInput = document.getElementById("templateGender");
    const godModeInput = document.getElementById("templateGodmode");
    const withoutTariffInput = document.getElementById("templateWithoutTariff");
    const messageCountElement = document.getElementById("messagesCount");
    const createdFromInput = document.getElementById("templateCreatedFrom");
    const createdToInput = document.getElementById("templateCreatedTo");
    const limitInput = document.getElementById("templateLimit");
    const offsetInput = document.getElementById("templateOffset");
    let data = {};
    let tariffs_param = "";

    let tariffs = [];
    for (let i = 1; i <= {{ tariffs|length }}; i++) {
        if (document.querySelector("#tariff" + i).checked)
            tariffs.push(i);
    }
    if (tariffs)
        tariffs.forEach(el => tariffs_param += "tariff_ids=" + el + "&");
    let gender = genderInput.value === "-" ? ("{{ template.gender }}" == "None" ? null : "{{ template.gender }}") : genderInput.value;
    if (gender != null && gender != "")
        data["gender"] = gender;
    let godMode = godModeInput.value === "-" ? ("{{ template.god_mode }}" == "None" ? null : "{{ template.god_mode }}") : godModeInput.value;
    if (godMode != null && godMode != "")
        data["god_mode"] = godMode;
    let withoutTariff = withoutTariffInput.value === "-" ? ("{{ template.without_tariff }}" == "None" ? null : "{{ template.without_tariff }}") : withoutTariffInput.value;
    if (withoutTariff != null && withoutTariff != "")
        data["without_tariff"] = +withoutTariff;
    if (createdFromInput.value !== "")
        data["created_from"] = createdFromInput.value;
    if (createdToInput.value !== "")
        data["created_to"] = createdToInput.value;
    if (limitInput.value !== "")
        data["limit_messages"] = +limitInput.value;
    if (offsetInput.value !== "")
        data["offset_messages"] = +offsetInput.value;

    fetch("/api/mailing/messages?" + new URLSearchParams(data) + "&" + tariffs_param.replace(/^\&+|\&+$/g, ''))
        .then((resp) => resp.text())
        .then((resp) => messageCountElement.innerText = resp)
        .catch((error) => console.log(error));
}

function previewFile() {
    const preview = document.querySelector('img');
    const file = document.querySelector('input[type=file]').files[0];
    const reader = new FileReader();
    reader.addEventListener("load", function() {
        preview.src = reader.result; // show image in <img> tag
        preview.height = 300;
        uploadFile(file);
    }, false);
    if (file) {
        reader.readAsDataURL(file);
    }
}

function uploadFile(file) {
    var formData = new FormData();
    formData.append('file', file);
    fetch('/api/mailing/image', {
            method: "POST",
            body: formData,
        })
        .then(response=>response.json())
        .then(response => {
            console.log(response);
            if (response.is_video)
                videosFilenames.push(response.filename)
            else
                imagesFilenames.push(response.filename);
        })
        .catch(error => {
            console.error(error);
        });
}

</script>
{% endblock %}
