{% extends "base.html" %}

{% block actions %}
<div class="d-grid gap-2">
    <!-- <button type="button" class="btn text-nowrap btn-primary">Запустить</button> --!>
    {% if mailing_progress.status == "running" %}
        <button onclick="pauseMailing(event)" type="button" class="btn text-nowrap btn-primary">Остановить</button>
    {% elif mailing_progress.status == "pause" %}
        <button onclick="pauseMailing(event)" type="button" class="btn text-nowrap btn-primary">Возобновить</button>
    {% endif %}
    <button onclick="deleteMailing(event)" type="button" class="btn text-nowrap btn-danger">Удалить</button>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-between g-3 align-items-start">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">{{ mailing.created_at_display }}</h5>
                {% if mailing.images %}
                    <div class="mb-3">
                        <img src="/static/{{ mailing.images[0].filename }}" class="image-fluid mt-1 mb-1">
                    </div>
                {% endif %}
                <p class="card-text">{{ mailing.text_display }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Пол: {{ mailing.gender_display }}</l1>
                <li class="list-group-item">Хотя бы одна генерация в режиме творца: {{ mailing.god_mode_display }}</l1>
                <li class="list-group-item">
                    <div class="row">
                        <label class="form-label" for="templateTariff">Оплата</label>
                        <div id="templatetariff">
                            {% if mailing.tariffs is none %}
                                {% for tariff in mailing.template.tariffs %}
                                    <p>
                                        {{ tariff.title }}
                                    </p>
                                {% endfor %}
                            {% else %}
                                {% for tariff in mailing.tariffs %}
                                    <p>
                                        {{ tariff.title }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </l1>
                <li class="list-group-item">Дата регистрации от: {{ mailing.created_from_display }}</l1>
                <li class="list-group-item">Дата регистрации до: {{ mailing.created_to_display }}</l1>
                <li class="list-group-item">Максимальное количество пользователей: {{ mailing.limit_messages }}</l1>
                <li class="list-group-item">Начиная с пользователя под номером: {{ mailing.offset_messages }}</l1>

                {% if mailing.buttons %}
                    <li class="list-group-item">
                        <div>
                            Кнопки:
                            {% for button in mailing.buttons %}
                            <p>- {{ button.text }}</p>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}

                {% if mailing_progress.status is none or mailing_progress.status == "finished" %}
                    <li class="list-group-item">Сообщений было запланировано: {{ mailing_progress.messages_count }}, разослано: {{ chat_ids|length }}</l1>
                {% else %}
                    <li class="list-group-item">
                        {{ mailing_progress.messages_sent }} / {{ mailing_progress.messages_count }} сообщений
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-striped"
                                role="progressbar"
                                aria-valuenow="{{ (mailing_progress.messages_sent / mailing_progress.messages_count * 100)|int }}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: {{ (mailing_progress.messages_sent / mailing_progress.messages_count * 100)|int }}%"
                            ></div>
                        </div>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    ID пользователей, которым отправлены сообщения:
                    <ul class="list-group" style="max-height: 300px; overflow:scroll; -webkit-overflow-scrolling: touch;">
                        {% for chat_id in chat_ids %}
                            <li class="list-group-item">{{ chat_id }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    {% if mailing_progress.status == "running" %}
        var pauseValue = 1;
    {% else %}
        var pauseValue = 0;
    {% endif %}

    function deleteMailing(event) {
        let button = event.target;
        if (button.innerText === "Удалить") {
            button.innerText = "Подтверждаете удаление?";
            setTimeout(() => button.innerText = "Удалить", 2000);
        } else {
            let request = new Request("/api/mailing/" + {{ mailing.id }}, {
                method: 'DELETE'
            });
            fetch(request).then(
                (response) => {
                    window.location.href = "/admin/mailing";
                },
                (error) => {
                    button.innerText = "Ошибка";
                }
            );
        }
    }

    function pauseMailing(event) {
        let button = event.target;
        if (button.innerText === "Остановить" || button.innerText == "Возобновить") {
            button.innerText = "Подтверждаете " + (pauseValue == 1 ? "остановку?" : "возобновление?");
        } else {
            let request = new Request("/api/mailing/" + {{ mailing.id }} + "/pause?value=" + pauseValue, {
                method: 'POST'
            });
            fetch(request).then(
                (response) => {
                    pauseValue = (pauseValue + 1) % 2;
                    button.innerText = (pauseValue == 0 ? "Возобновить" : "Остановить");
                },
                (error) => {
                    button.innerText = "Ошибка";
                }
            );
        }
    }

</script>
{% endblock %}
