{% extends "base.html" %}

{% block actions %}
<div class="d-grid gap-2">
    <button type="button" onclick="createMailing(event)" class="btn text-nowrap btn-primary">Сохранить и запустить</button>
    <div class="d-flex mb-3">
        <input id="chatid-input" class="form-control me-2" type="number" placeholder="Chat id" aria-label="Текст" name="chatId">
        <button type="button" onclick="testMailing(event)" class="btn text-nowrap btn-primary">Отправить себе</button>
    </div>
    <a type="button" class="btn text-nowrap btn-danger" href="index.html">Отмена</a>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-between g-3 align-items-start">
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">Создание рассылки</h4>
                <div class="card-text">
                    <label for="templateText" class="form-label">Текст(До 4096 символов)</label>
                    <textarea maxlength="4096" class="form-control col-sm-10" id="templateText" rows="10">{{ template.text }}</textarea>
                </div>
            </div>
            <ul class="list-group list-group-flush px-3">
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateGender">Пол</label>
                        <select class="form-select" id="templateGender">
                            <option
                                {% if (template.gender is none) %} selected="selected" {% endif %}
                                >-</option>
                            <option value="m"
                                {% if (template.gender == "m") %} selected="selected" {% endif %}
                                >Мужской</option>
                            <option value="f"
                                {% if (template.gender == "f") %} selected="selected" {% endif %}
                                >Женский</option>
                        </select>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateGodmode">Хотя бы одна генерация в режиме творца</label>
                        <select class="form-select" id="templateGodmode">
                            <option
                                {% if (template.god_mode is none) %} selected="selected" {% endif %}
                                >-</option>
                            <option value="0"
                                {% if (template.god_mode == "0") %} selected="selected" {% endif %}
                                >Нет</option>
                            <option value="1"
                                {% if (template.god_mode == "1") %} selected="selected" {% endif %}
                                >Да</option>
                        </select>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateTariff">Оплата</label>
                        <div id="templatetariff">
                            {% for tariff in tariffs %}
                            <div class="form-check">
                                <input class="form-check-input"
                                    type="checkbox"
                                    value="{{ tariff.id }}"
                                    id="tariff{{ tariff.id }}"
                                    {{ "checked" if tariff in template.tariffs }}>
                                <label class="form-check-label" for="tariff{{ tariff.id }}"> {{ tariff.title }} </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <label class="form-label" for="templateWithoutTariff">Нет оплаты</label>
                        <select class="form-select" id="templateWithoutTariff">
                            <option
                                {% if (template.without_tariff is none) %} selected="selected" {% endif %}
                                >-</option>
                            <option value="1"
                                {% if (template.without_tariff == "1") %} selected="selected" {% endif %}
                                >Да</option>
                        </select>
                    </div>
                </l1>
                <li class="list-group-item">
                    <div class="row mb-3">
                        <div class="form-check">
                            <input class="form-check-input"
                                type="checkbox"
                                value="1"
                                id="mailingPaymentButtonCheckbox">
                            <label class="form-check-label" for="mailingPaymentButtonCheckbox">Добавить кнопку оплаты</label>
                        </div>
                    </div>
                </l1>
                <li class="list-group-item">Будет разослано сообщений: <mark id="messagesCount">{{ messages_count }}</mark></l1>
            </ul>
        </div>

    </div>
</div>

<script>

function createMailing(event) {
    const submitButton = event.target;
    const genderInput = document.getElementById("templateGender");
    const godmodeInput = document.getElementById("templateGodmode");
    const withoutTariffInput = document.getElementById("templateWithoutTariff");
    const textInput = document.getElementById("templateText");
    const mailingPaymentButtonInput = document.getElementById("mailingPaymentButtonCheckbox");

    let tariffs = [];
    for (let i = 1; i <= {{ tariffs|length }}; i++) {
        if (document.querySelector("#tariff" + i).checked)
            tariffs.push(i);
    }
    let gender = genderInput.value === "-" || genderInput.value === "{{ template.gender }}" ? null : genderInput.value;
    let godMode = genderInput.value === "-" || genderInput.value === "{{ template.god_mode }}" ? null : godmodeInput.value;
    let withoutTariff = withoutTariffInput.value === "-" || withoutTariffInput.value === "{{ template.without_tariff }}" ? null : withoutTariffInput.value;
    let text = textInput.value === "" || textInput.value === "{{ template.text }}" ? null : textInput.value;
    let templateId = {{ template.id|default(0) }} === 0 ? null : {{ template.id|default(0) }};

    let data = {tariff_ids: tariffs, gender: gender, text: text, template_id: templateId, god_mode: +godMode, without_tariff: +withoutTariff};
    if (mailingPaymentButtonInput.checked)
        data["buttons"] = [{text: "Оплатить", "callback_data": "/specialOffer390"}];

    submitButton.innerText = "Отправка...";
    let request = new Request("/api/mailing", {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json',
        },
    });
    fetch(request).then(
        (response) => {
            window.location.href = "/admin/mailing";
        },
        (error) => {
            submitButton.innerText = "Ошибка";
        }
    );
}

function testMailing(event) {
    const submitButton = event.target;
    const chatIdInput = document.getElementById("chatid-input");
    const textInput = document.getElementById("templateText");
    const mailingPaymentButtonInput = document.getElementById("mailingPaymentButtonCheckbox");

    let text = textInput.value === "" ? "{{ template.text }}" : textInput.value;
    let data = {chat_id: chatIdInput.value, text: text};
    if (mailingPaymentButtonInput.checked)
        data["buttons"] = [{text: "Оплатить", "callback_data": "/specialOffer390"}];

    submitButton.innerText = "Отправка...";
    let request = new Request("/api/mailing/test", {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json',
        },
    });
    fetch(request).then(
        (response) => {
            submitButton.innerText = "Отправлено";
            setTimeout(() => submitButton.value = "Отправить себе", 20000);
        },
        (error) => {
            submitButton.innerText = "Ошибка";
        }
    );
}

</script>
{% endblock %}
