{% extends "base.html" %}

{% block actions %}
<div class="d-grid gap-2 p-3">
    <form class="d-flex mb-3">
        <input class="form-control me-2" type="search" placeholder="Текст" aria-label="Текст" name="text">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
    <a type="button" class="btn text-nowrap btn-dark" href="/admin/mailing/create">Создать рассылку</a>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-between g-3 align-items-start">
    {% for mailing in mailings %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Рассылка {{ mailing.created_at_display }}</h5>
                <p class="card-text">
                    {% if mailing.text_display|length > 500 %}
                        {{ mailing.text_display[:497] }}...
                    {% else %}
                        {{ mailing.text_display }}
                    {% endif %}
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Пользователей в сегменте: {{ mailing.messages_count }}</l1>
                <li class="list-group-item">
                    <div class="d-grid gap-2 d-lg-flex">
                        <a type="button" class="btn text-nowrap btn-outline-dark" href="/admin/mailing/{{ mailing.id }}">Подробнее</a>
                    </div>
                </l1>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
